* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
li {
  color: black;
  display: inline;
}

.linkhead {
  color: white;
}

/* utils */

.conteiner {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-header > .conteiner > .buttonxs {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  border: none;
  font-size: small;
}

.buttonwhitest {
  padding: 10px;
  border-radius: 30px;
  font-size: medium;
  border: none;
  margin-right: 10px;
}
.buttonblackst {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 30px;
  font-size: medium;
  border: none;
  margin-left: 10px;
}

.buttonviolet {
  background-color: #7289da;
  color: white;
  padding: 10px;
  border-radius: 30px;
  font-size: medium;
  border: none;
  margin-left: 10px;
}
/* header */

header {
  background-color: #255ee9;
  padding-top: 10px;

  color: black;
}
.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.page-header > .conteiner {
  display: flex;
}

.logo {
  flex-grow: 1;
  padding: 10px;
  border-right: 1px dashed rgb(0, 0, 0);
}

.link {
  flex-grow: 2;
  text-align: center;
  padding: 10px;
}

.log {
  flex-grow: 1;
  padding: 10px;
  text-align: end;
  border-left: 1px dashed rgb(0, 0, 0);
}

/* head-blu */

.header-blu {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  padding: 30px;
  min-height: 400px;
}

.header-blu > .conteiner {
  padding-top: 30px;
  min-height: 300px;
  color: white;
  text-align: center;
}
.header-blu > .conteiner * {
  padding: 10px;
}
p {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10px;
}

.header-blu > .conteiner > .buttonblackst . .buttonwhitest {
  margin-top: 35px;
}

/* main */
main {
  flex-grow: 1;
}

.blu .item1 {
  background-image: url(../img/item1.svg);
  background-color: transparent;
  height: 300px;
  flex-grow: 2;
  border: 1px dashed rgb(0, 0, 0);
}

.blu {
  width: 50%;
}

.rose {
  text-align: center;
  width: 50%;
}
.rose > h2 {
  text-align: left;
}

.rose > p {
  text-align: left;
  margin: 0;
}

.green {
  flex-grow: 1;
  text-align: center;
}

.main.white > .conteiner {
  display: flex;
}
.foot.white > .conteiner {
  display: flex;
  border-bottom: gray solid 2px;
  padding-top: 15px;
  padding-bottom: 25px;
}

.main.gray > .conteiner {
  display: flex;
}
.main.white {
  padding-top: 30px;
  padding-bottom: 30px;
}
.main.gray {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #d3d3d3;
}

/* footer */

footer {
  background-color: #23272a;
}

.footgreen {
  background-color: #20b3aa;
  height: 300px;
  flex-grow: 2;
  border: 1px dashed rgb(0, 0, 0);
}

.footrose {
  background-color: #f08180;
  height: 300px;
  flex-grow: 2;
  border: 1px dashed rgb(0, 0, 0);
}

.conteiner > .footgreen {
  display: flex;
}

.column {
  flex-direction: column;
}

.main-foot {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

.main.white > .conteiner {
  display: flex;
  justify-content: space-between;
}

.footlogo {
  background-color: #ffb6c1;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  text-align: center;
  border: 1px dashed rgb(0, 0, 0);
}

.booton {
  background-color: #ffb6c1;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
  text-align: center;
  justify-content: center;
  border: 1px dashed rgb(0, 0, 0);
}
